subscription_id               = "<AZURE_SUBSCRIPTION_ID>"
location                      = "eastus"
resource_group_name           = "rg-saludo-cloud"
log_analytics_workspace_name  = "law-saludo-cloud"
container_app_environment_name = "cae-saludo-cloud"
container_app_name            = "ca-saludo-cloud"
container_image               = "ghcr.io/peg1163/saludo-cloud@sha256:<IMAGE_DIGEST>"
container_port                = 8080
student_name                  = "Jaime Acuña"
min_replicas                  = 1
max_replicas                  = 3
